
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="{% static 'meetups\styles\base.css' %}">
</head>
<body>
    <h1>hello world</h1>
    <p>my first reading about django
    </p>
    <!-- {% if name == 'markos' %}
    <h1> Hello Markos</h1>
    {% else %}
    <h1>This is not Markos</h1>
    {% endif %} -->
   {% if show_meetups %}
   <h1> {{meetups.0.title}}</h1>
  {% endif %}
  <p>{{meetup_item.title}}</p>
</body>
</html>