
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="{% static 'meetups\styles\base.css' %}">
</head>
<body>
   <header>
    <nav><a href="/meetups">Django meetups</a></nav>
    <h1>we got greate meetups coming ups</h1>
    <p>find the one that best suits your needs</p>
   </header>
   <main>
    <section>
        <h2>upcoming meetups</h2>
        <ol>
            {% for meetup_item in meetups %}
            <li class="meetup_item">
                <article>
                    {{meetup_item.title}}
                </article>
            </li>

            {% endfor %}

        </ol>
    </section>
   </main>
</body>
</html>